body {
  font-family: 'Georgia', serif;
  line-height: 1.3em;
  font-size: 0.95em;
  overflow-x: hidden;
  background-color: #ffffee;
  color: #600000;
}

grn {
  color: #618943;
}

a {
  color: #0233d6;
  text-decoration: underline;
  cursor: pointer;
  margin: 0 0.2em;
}

sp {
  text-decoration: none;
  color: #f4b99a;
  background: #f4b99a;
}

g {
  font-style: none;
  color: #d39270;
  line-height: 2em;
  font-size: 85%;
}

sp:hover {
  background: #f7dfd7;
  color: #753017;
}

a:hover {
  color: red;
  text-decoration: underline;
}

.postinner {
  max-height: 48em;
  overflow: auto;
  max-width: 700px;
  margin-bottom: .5em;
}

.post {
  width: auto;
  border: .5px solid #f4b99a;
  border-radius: 2px;
  display: inline-block;
  white-space: wrap;
  background: #f0e0d6;
  color: #600000;
  margin: 0.15em;
  float: left;
  clear: both;
  padding: 0.5em 1.5em;
}

img {
  max-width: 150px;
  max-height: 150px;
}

.fullimg {
  max-width: 100%;
  max-height: 100%;
}

.main {
  background: white;
}

div {
  display: inline-block;
  clear: both;
  float: left;
}

.head {
  font-weight: bold;
  background: #fffdf2;
  color: #600000;
  padding: 1em;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.step {
  height: 5em;
}

.big {
  font-size: 2em;
}

textarea {
  font-size: 0.9em;
  width: 32em;
  height: 22em;
}

button {
  font-size: 0.9em;
}